<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mapper.BaseRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="mapper.entity.BaseRole">
        <id column="role_id" property="roleId" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="create_dt" property="createDt" />
        <result column="update_dt" property="updateDt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_code, role_name, create_dt, update_dt
    </sql>

</mapper>
